{{!< default}}


{{#foreach posts}}

<article class="{{post_class}}">

    <h1><a href="{{url}}">{{title}}</a></h1>

    <div class="post-content"><p>{{excerpt}}&hellip;</p></div>
    <a href="{{url}}#disqus_thread">Comments</a>
    
</article>

{{/foreach}}

{{pagination}}

<script id="dsq-count-scr" src="//YOUR_DISQUS_ID_HERE.disqus.com/count.js" async></script>
